* {
    font-family: 'Raleway', sans-serif;
}

h1 {
    text-align: center;
}

header {
    background-color: darkgray;
}

.favorable{
    background-color: lightgreen;
   
}

.moderate {
    background-color: yellow;
    
}

.severe {
    background-color: tomato;
    
}

.clear {
    background-color: white;
}

.info {
    border: 1px solid grey;
    padding: 30px;
    margin-top: 30px;
}

tr{
    border: 1px solid grey;
    font-size: 30px;
   
}

.hide {
    display:none
}

.boxes {
    border:1px solid #5bc0de;
    background-color: #5bc0de;
    margin: 10px;
}

.uvindex {
    border-radius: 25px;

}

.btn {
    background-color: cornflowerblue;
}
#searched-city{
    height: 50px

}



