h1 {
    text-align: center;
}

header {
    background-color: darkgray;
}

.favorable{
    background-color: lightgreen;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: tomato;
}

.clear {
    background-color: white;
}

.info {
    border: 1px solid grey;
    padding: 30px;
}