h1 {
    text-align: center;
}

header {
    background-color: darkgray;
}

.favorable{
    background-color: lightgreen;
}

.moderate {
    background-color: yellow;
}

.severe {
    background-color: tomato;
}